body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background: -webkit-linear-gradient(315deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
    background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
    font-family: Open Sans, Arial, sans-serif;
    font-size: 1.3em;
}

.container {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    overflow-x: auto;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    text-align: center;
    background-color: #f84949;
}

tr:hover {
    background-color: #4d4d4d;
}

.menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1000;
    color: #fff;
}

.menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    background: #fff;
    border: 1px solid #b12816;
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
}

.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #b12816;
    font-size: 1em;
}

.menu a:hover {
    background: #b12816;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

button {
    background-color: #4CAF50;
    color: black;
    padding: 16px 24px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}

.buy-button {
    background-color: #4CAF50;
}

.sell-button {
    background-color: #f44336;
}

.favorite-button {
    background-color: yellow;
}

input[type=number] {
    width: 100%;
    padding: 14px 20px;
    margin-top: 8px;
    box-sizing: border-box;
    font-size: 16px;
}


.none {
    text-decoration: none;
    color: black;
}