<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="menu-button" onclick="toggleMenu()">☰</div>
    <div class="login-form">
        <div class="logo">
            <h1>{{ name }}</h1>
        </div>
        <div class="menu" id="menu">
            <a href="/profile">Profile</a>
            <a href="/share_list">Shares list</a>
            <a href="#">Portfolio</a>
            <a href="#">balance</a>
            <a href="/logout">Logout</a>
        </div>
    <h1>Welcome, {{ username }}!</h1>
    {{ table | safe }}
    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            menu.style.display = (menu.style.display === "block") ? "none" : "block";
        }
    </script>
</body>
</html>
