<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <title>Deposit</title>
</head>

<body>
    <div class="menu-button" onclick="toggleMenu()">☰</div>
    <div class="login-form">
        <div class="menu" id="menu">
            {% if user_status == 2 %}
                <a href="/">Stock rating</a>
            {% endif %}
            <a href="/profile">Profile</a>
            <a href="/share_list">Shares list</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/balance">Balance</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="container">
            <h1 class="center-text">Deposit</h1>
            <div class="balance">
                <h2>Current Balance: {{ user_balance }} P</h2>
            </div>
            <form method="post" action="/deposit_route">
                <div class="input-group">
                    <label for="amount">Enter amount to deposit:</label>
                    <input type="number" value="0" id="amount" name="amount" placeholder="Amount" required>
                </div>
                <button class="action-button" type="submit">Deposit</button>
            </form>
        </div>
    </div>
    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            menu.style.display = (menu.style.display === "block") ? "none" : "block";
        }
    </script>
</body>

</html>
