<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>User Profile</title>
</head>

<body>
    <div class="menu-button" onclick="toggleMenu()">☰</div>
    <div class="login-form">
        <div class="logo">
            <h1>PROFILE</h1>
            <h1> {{ user.name }}</h1>
        </div>
        <div class="menu" id="menu">
            {% if user_status == 2 %}
                <a href="/">Stock rating</a>
            {% endif %}
            <a href="/profile">Profile</a>
            <a href="/share_list">Shares list</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/favorites">Favorites</a>
            <a href="/balance">balance</a>
            <a href="/logout">Logout</a>
        </div>
        <form method="post" action="/update_profile">
            <div class="flex-row">
                <input type="text" class="lf--input" placeholder="{{ user.name }}" id="name" name="name" required value="{{ user.name }}">
            </div>
            <div class="flex-row">
                <input type="text" class="lf--input" placeholder="{{ user.last_name }}" id="last_name" name="last_name" required value="{{ user.last_name }}">
            </div>
            <div class="flex-row">
                <input type="password" class="lf--input" placeholder="{{ user.password }}" id="password" name="password" required value="{{ user.password }}">
            </div>
            <div class="flex-row">
                <input type="password" class="lf--input" placeholder="{{ user.password }}" id="confirm_password" name="confirm_password" required value="{{ user.password }}">
            </div>
            <button type="submit" class="lf--submit">Change Bio</button>
        </form>
    </div>

    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            menu.style.display = (menu.style.display === "block") ? "none" : "block";
        }
    </script>
</body>

</html>
